<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520479130265-fhbthoehofm4c7a6ltd0ooesscpu9u1v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520479130265-fhbthoehofm4c7a6ltd0ooesscpu9u1v</string>
	<key>API_KEY</key>
	<string>AIzaSyDQaG2kId7E4vyBLFrDoINqNU4eWj9pjL0</string>
	<key>GCM_SENDER_ID</key>
	<string>520479130265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.reureureu.flutterchat</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-332ab</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-332ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520479130265:ios:00a12881b18c0801db2e08</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-chat-332ab.firebaseio.com</string>
</dict>
</plist>